{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href ="{% static 'css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'css/werewolf.ico' %}">
    <title>Werewolf Rooms</title>
</head>
<body>
    <div>  Welcome to the chat, {{user.username}}. </div>  
    What werewolf room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">
    <div id="logout_box"> <a href="{% url 'logout' %}" id="logout"> Log out </a> </div>
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>