{% load static %}
<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href ="{% static 'css/room.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'css/werewolf.ico' %}">
    <title>Chat Room {{ room_name }} </title>

</head>
<body id="body">
    <div> Werewolf room {{ room_name }} </div>
    <textarea readonly id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name | json_script:"room-name" }}
    {{ request.user.username | json_script:"username" }}
    {{ participants | json_script:"participants"}}
    <div> Participants in the game: </div>
    <div id="display_participants">  </div>
    {% if request.user.character.role == "werewolf" and participants|length == 4 and request.user.character.death == "alive" %}
        <a href="/chat/{{room_name}}/werewolf/" id="werewolf-turn"> </a>
    {% endif %}
    {% if request.user.character.death == "alive" %}
        <a href="/chat/{{room_name}}/villager_turn/" id="villager-turn"> </a>
    {% endif %}
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        var author = JSON.parse(document.getElementById('username').textContent);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            const full_message=author + ": " + message 
            chatSocket.send(JSON.stringify({
                'message': full_message
            }));
            messageInputDom.value = '';
        };
        var url_werewolf_win = "/chat/" + roomName + "/werewolf_win/"
        var url_villager_win = "/chat/" + roomName + "/villager_win/"
        var url_check_turn = "/chat/" + roomName + "/check_turn/"
        var url_waiting_turn= "/chat/" + roomName + "/waiting_turn/"
        var url_participants="/chat/" + roomName + "/display_participants/"
        setInterval(function()
            { $.ajax({
            url: url_check_turn,
            type: 'GET', 
            success: function(data) { 
                if (data == "werewolf_win") { 
                    window.location=url_werewolf_win
                }
                else if (data == "villager_win") { 
                    window.location=url_villager_win
                }
                else if (data == "") { 
                    var werewolf_link=document.getElementById('werewolf-turn')
                    werewolf_link.innerHTML = "Werewolf turn!";
                }
                else if (data == "werewolf") { 
                    window.location= url_waiting_turn
                }
                else if (data == "villager") { 
                    var villager_link=document.getElementById('villager-turn')
                    villager_link.innerHTML = "Click here to vote who to execute!";    
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert("something went wrong")
            }
            }); 
            }, 1000);
        setInterval(function()
            { $.ajax({
            url: url_participants,
            type: 'GET', 
            success: function(data) {          
                document.getElementById("display_participants").innerHTML=data
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert("something went wrong")
            }
            }); 
            }, 1000);
    </script>
</body>
</html>