{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'css/werewolf.ico' %}">
    <link rel="stylesheet" type="text/css" href ="{% static 'css/werewolf_turn.css' %}">
    <title> Werewolf's turn </title>
</head>
<body> 
    {{ room_name | json_script:"room-name" }}
    {{ choices| json_script:"choices" }}
    <form method="POST"> 
        {% csrf_token %}
        <div> Who do you want to kill? </div>
        {% if choices.option_one != "" %}
            <div>
            <label> 
                <input type="radio" name="choices" value="option1" required>
                {{ choices.option_one }}
            </label>  
            </div>
        {% endif %}
        {% if choices.option_two != "" %}
            <div> 
            <label> 
                <input type="radio" name="choices" value="option2" required>
                {{ choices.option_two }}
            </label> 
            </div>
        {% endif %}
        {% if choices.option_three != "" %}
            <div> 
            <label> 
                <input type="radio" name="choices" value="option3" required>
                {{ choices.option_three }}
            </label> 
            </div>  
        {% endif %}
        <div> 
        <button type="submit" class="btn">
            Submit
        </button>
        </div>
    </form>
</body>